* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;                                            /*{1rem= 16px }*/
    font-family: assistant;
    list-style-type: none;
    text-decoration: none;
    color: black;
    letter-spacing: .3px;
    font-weight: 600;
    border: none;
  }
  .navigation_bar {
    display: flex;
    width: 100vw;
    height: 80px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    overflow: hidden;
  }
  
  .logo {
    display: flex;
    align-items: center;
    margin-left: max(4%);
  }
  
  .insider_logo {
    width: 53px;
    height: 36px;
  }
  
  .insider_logo img {
    width: 100%;
    height: auto;
    scale: 1.2;
  }
  
  .first {
    display: flex;
    align-items: center; 
    font-size: 0.9rem;
    min-width: 34rem;
    margin-left: 4%;
  }
  
  .men,.women,.kids,.home,.beauty,.studio {
    padding: 1.25rem 1.0625rem 1.5rem;
  }
  
  .studio sup {
    position: relative;
    bottom: 3px;
    left: 3px;
    font-size: x-small;
    font-weight: 400;
    color: red;
  }
  
  .middle {
    display: flex;
    align-items: center;
    width: 35%;
    margin-right: 20px;
    padding: 1.25rem 0rem 1.25 2.5rem; 
  }
  
  .search-container-input {
    width: 100%;
    min-width: 8.625rem;
    height: 40px;
    border-radius: 0px 6px 6px 0px;
    background-color: #f5f5f6;
    font-weight: 300;
  }
  
  .search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f6;
    height: 40px;
    width: 40px;
    border-radius: 6px 0px 0px 6px;
  }
  
  .search-icon img {
    width: 23px;
    height: auto;
  }
  
  .last {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12.125rem;
    height: 40px;
    margin: 20px 20px 0px auto;
  }
  .profile,.wishlist,.cart{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
  }
.last div{
    height: 28px;
    width: 28px;
}
.ptext{
    font-weight: 400;
    font-size: small;
}

          /*Section (banner, pics and promotions)*/

.main {
  display: flex;
  min-width: 100vw; 
  padding: 0 50px 0 50px; 
  flex-grow: 1; /* Allow .main to shrink */
}
.promotion {
  display: flex;
  min-width: 100vw; 
  padding: 0 100px 0 100px; 
  flex-grow: 1; /* Allow .main to shrink */
}
.bank-discount{
  display: flex;
  justify-content: center;
  min-width: 100vw; 
  padding:0 100px;
  flex-grow: 1; /* Allow .main to shrink */
}

.main a,.promotion a,.bank-discount a{
  display: flex;
  width: 100%; 
}

.main img,.promotion img,.bank-discount img{
  width:100%;
}
.banner1,.banner2{
  display: flex;
}
.banner-container,.shop-by-category,.final-image{
  padding:0 100px;
}
.banner-container img,.shop-by-category img,.final-image img{
  width:100%
}

/*Image carousel*/
.image-carousel{
  display: flex; 
  min-width: 100vw;
  padding:0 100px;
}
.image-carousel a{
  display: flex;
  width: 100%;
}
.image-carousel img{
  width: 100%;
}


/* main image section*/
.category-1,.category-2,.category-3,.category-4,.category-5,.category-6{
  display: flex; 
  min-width: 100vw;
  height: auto;
  padding:0 100px;
}
.category-1 a,.category-2 a,.category-3 a,.category-4 a,.category-5 a,.category-6 a{
  display: flex;
  width: 100%;
}
.category-1 img,.category-2 img,.category-3 img,.category-4 img,.category-5 img,.category-6 img{
  width: 100%;
}














